.form-register{
  max-width: 600px;
  max-height: 500px;
  margin: 200px auto ;
  border: 1px solid #c4bcbc;
  border-radius: 10px;
  padding: 40px;

}

h2{
  text-align: center;
  margin-bottom: 30px;
}